<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ site.asset_name }} - {{ page.title }}</title>
  <link href="https://cdn.jsdelivr.net/npm/pygments-rouge-css@0.1.0/monokai.css" rel="stylesheet" />
  <link rel="icon" type="image/png"  href="https://phoenixprotocolgta.com/images/pic01.png" />
  <style type="text/css">
    html {
      background-color: #272833;
      background-image: url("https://phoenixprotocolgta.com/images/banner.jpg");
      background-position: center center;
      background-size: cover;
      min-height: 100%;
    }

    body {
      background-color: transparent;
      color: #fff;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 1.25em;
      font-weight: 300;
      line-height: 1.5;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    a {
      color: #b7b7b7;
    }

    a:hover {
      color: #fff;
    }

    .highlighter-rouge {
      background-color: #434457;
      padding: 0.5em;
      border-radius: 0.5em;
    }

    code {
      font-family: "Courier New", Courier, monospace;
      font-size: .75em;
      padding: 0.25em;
    }

    h1 {
      font-size: 2em;
      font-weight: 300;
      margin-bottom: 0.5em;
    }

    footer {
      font-size: 0.75em;
      margin-top: 2em;
      width: 100%;
    }

    footer a {
      color: #fff;
    }

    #content {
      display: flex;
    }

    #logo {
      width: 100px;
      height: 100px;
    }

    #leftnav {
      flex: 15%;
    }

    #main {
      text-align: left;
      flex: 85%;
    }

    #leftnav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
    }

    #leftnav a {
      display: block;
      color: #fff;
      padding: 0.5em 0.5em;
      text-decoration: none;
    }

    #leftnav a:hover {
      background-color: #272833;
    }
  </style>

  <body>
    <h1>{{ site.asset_name }}</h1>
    <h2>{{ page.title }}</h2>
    <div id="content">
      <nav id="leftnav" class="column">
        <img src="https://phoenixprotocolgta.com/images/pic01.png" alt="Phoenix Protocol" id="logo" />
        {% assign allpages = site.pages | sort: 'title' %}
        <ul>
          {% for page in allpages %}
            <li><a href="{{ page.name | replace: "md", "html" }}">{{ page.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>

      <div id="main" class="column">
        {{ content }}
      </div>
    </div>

    <footer>
      <p>
        <a href="https://phoenixprotocolgta.com"> &copy; Phoenix Protocol</a>
      </p>
    </footer>
  </body>
</html>
